.add-button-div {
    margin-right: 7rem;
}

.add {
    color: #60b246;
    height: 2rem;
    width: 4rem;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}

.add:hover {
    background-color: rgb(116, 249, 218);
    outline: none;
    color: black;
}

.add-cart-div {
    display: inline-flex;
    height: 2rem;
    width: 4rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;

}